*
{
    margin: 0;
    padding: 0;
    text-align: center;
   
}

h1{
    height: 5rem;
    line-height: 5rem;
    background-color:#447604 ;
    color: #6CC551;
}

.choice{
    height:135px;
    width:135px;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center; 
    
}

img{
height: 130px;
width: 130px;
object-fit: cover;
border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap: 3rem;

}

.choice:hover{
    background-color: black;
    cursor: pointer;
}

.score_board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7rem;
    margin-top: 5rem;
}
.score{
    font-size: 1.5rem;
}

#you,#comp{
    font-size: 3rem;
    font-weight: 600;
}
.notice{
    margin-top: 5rem;
}

.notice p{
   
    background-color: black;
    color: white;
    font-size: 1.5rem;
    display: inline;
    padding: 1rem;
    border-radius:1.5rem;
    

}